<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body onunload="HandleOnClose()">
    <h1>PLANTILLA PRINCIPAL MVC CORE</h1>
    <hr />
    <div style="background-color:red">
        <p>ZONA DE VISTAS</p>
    </div>
    @RenderBody()
</body>
</html>