<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body onunload="HandleOnClose()">
    <header>
        <div id="navbar_container" class="shadow">
            <ul id="navbar_list">
                <li class="navbar_list_item">
                    <a asp-controller="Landing" asp-action="Index">Home</a>
                </li>
                <li class="navbar_list_item">
                    <a asp-controller="Landing" asp-action="Index">Login</a>
                </li>
                <li class="navbar_list_item">
                    <a asp-controller="Landing" asp-action="Index">Help</a>
                </li>
            </ul>
        </div>
    </header>
            <div style="background-color:rgb(180,180,180); display: inline-block;">
                <svg width="285.39414170058365" height="304.915625" viewBox="0 0 370 395.3086793504047" class="css-1j8o68f">
                    @*<defs id="SvgjsDefs1892"></defs>*@
                    <g id="SvgjsG1893" featurekey="symbolFeature-0" transform="matrix(1.247030534228406,0,0,1.247030534228406,0,0)" fill="#ffffff">
                        <defs xmlns="http://www.w3.org/2000/svg"></defs>
                        <g xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path class="fil0" d="M33 12c-23,5 -32,31 -19,52l53 0c13,-21 4,-47 -19,-52 3,-5 -1,-12 -8,-12 -6,0 -10,7 -7,12zm2 9l-1 0c20,-5 37,16 28,34l-10 0c12,-14 1,-34 -17,-34z" style="fill: black; fill-rule: nonzero"></path>
                                <rect class="fil1" y="68" width="80.1905" height="11.0065" rx="6" ry="6" style="fill: #ffffff"></rect>
                                <path class="fil0" d="M33 304c-23,-5 -32,-31 -19,-52l53 0c13,21 4,47 -19,52 3,6 -1,13 -8,13 -6,0 -10,-7 -7,-13zm2 -9l-1 0c20,5 37,-15 28,-34l-10 0c12,14 1,34 -17,34z" style="fill: black; fill-rule: nonzero"></path>
                                <rect class="fil1" y="237" width="80.1905" height="11.0065" rx="6" ry="6" style="fill: #ffffff"></rect>
                                <polygon class="fil1" points="48,87 68,99 68,120 12,87 12,87 " style="fill: #ffffff"></polygon>
                                <polygon class="fil1" points="12,102 68,136 68,157 12,124 " style="fill: #ffffff"></polygon>
                                <polygon class="fil1" points="12,139 68,173 68,194 12,161 " style="fill: #ffffff"></polygon>
                                <polygon class="fil1" points="12,176 68,210 68,229 65,229 12,198 " style="fill: #ffffff"></polygon>
                                <polygon class="fil1" points="12,213 39,229 12,229 " style="fill: #ffffff"></polygon>
                            </g>
                        </g>
                    </g>
@*                    <g id="SvgjsG1894" featurekey="nameFeature-0" transform="matrix(1.3724294799594636,0,0,1.3724294799594636,116.40835125516483,144.0330654335743)" fill="#cefbf4">
                        <path d="M16.055 40.37109 c-7.5391 0 -13.438 -5.2344 -13.438 -14.004 c0 -8.75 5.8984 -13.984 13.438 -13.984 c5.1758 0 9.5703 2.5 11.758 6.875 l-2.4609 1.0938 c-1.8164 -3.4375 -5.2734 -5.3125 -9.2969 -5.3125 c-5.957 0 -10.742 4.0625 -10.742 11.328 c0 7.2852 4.7852 11.348 10.742 11.348 c4.0234 0 7.4805 -1.875 9.2969 -5.3125 l2.4609 1.0938 c-2.1875 4.375 -6.582 6.875 -11.758 6.875 z M46.907921875 40.37109 c-5.4688 0 -9.6484 -3.5156 -9.6484 -9.2188 l0 -18.398 l2.7148 0 l0 18.008 c0 4.6875 3.0078 7.0898 6.9336 7.0898 c3.9063 0 6.9922 -2.4219 6.9922 -7.0898 l0 -18.008 l2.6953 0 l0 18.398 c0 5.7031 -4.1992 9.2188 -9.6875 9.2188 z M82.4295 12.754000000000001 l0 2.5 l-7.168 0 l0 24.746 l-2.6953 0 l0 -24.746 l-7.168 0 l0 -2.5 l17.031 0 z M113.205046875 24.902 c0 3.7109 -1.4453 7.3242 -3.8281 10.117 l3.7891 4.9805 l-3.2227 0 l-2.3633 -3.1641 c-2.5586 2.1875 -5.7813 3.5547 -9.2773 3.5547 c-4.668 0 -8.3203 -2.3828 -8.3203 -7.0898 c0 -4.1211 2.7734 -6.2109 7.8711 -9.4727 c-2.1484 -2.9102 -3.1641 -4.3945 -3.1641 -6.3477 c0 -1.6211 0.70313 -2.8711 1.7773 -3.75 c1.0938 -0.89844 2.6172 -1.3672 4.1992 -1.3672 c3.2031 0 5.957 1.8555 5.957 5.1367 c0 2.6563 -1.7969 4.5117 -5.4102 6.8164 l6.6211 8.6719 c1.7773 -2.3633 2.8516 -5.2734 2.8516 -8.0859 l2.5195 0 z M98.146046875 15.390999999999998 c-0.54688 0.54688 -0.87891 1.3281 -0.87891 2.3242 c0 1.4258 0.70313 2.2656 2.5391 4.7461 l0.15625 0.19531 c2.6367 -1.7578 4.1406 -3.1836 4.1406 -5.1172 c0 -2.0508 -1.6797 -3.1445 -3.4375 -3.1445 c-0.9375 0 -1.8555 0.33203 -2.5195 0.99609 z M98.381046875 38.0664 c2.9492 0 5.625 -1.25 7.7344 -3.1836 l-6.9336 -9.2773 c-4.1602 2.6367 -6.6602 4.375 -6.6602 7.5977 c0 3.3594 2.6367 4.8633 5.8594 4.8633 z M135.9725 40.37109 c-7.5195 0 -13.418 -5.0977 -13.418 -13.926 c0 -8.8672 5.8984 -14.063 13.438 -14.063 c4.8438 0 9.1016 2.1289 11.445 6.3281 l-2.4023 1.2891 c-1.8945 -3.4375 -5.2734 -5.0195 -9.043 -5.0195 c-5.9961 0 -10.703 4.0625 -10.703 11.426 s4.6875 11.406 10.781 11.406 c5.332 0 9.2383 -3.1445 9.7852 -9.0234 l-9.8047 0 l0 -2.3828 l12.5 0 l0 13.594 l-2.2852 0 l0 -5.5859 c-1.8359 3.8086 -5.4688 5.957 -10.293 5.957 z M171.357734375 40.37109 c-7.5391 0 -13.438 -5.2344 -13.438 -14.004 c0 -8.75 5.8984 -13.984 13.438 -13.984 c7.4805 0 13.418 5.2344 13.418 13.984 c0 8.7695 -5.9375 14.004 -13.418 14.004 z M171.357734375 37.7539 c5.9375 0 10.684 -4.082 10.684 -11.387 c0 -7.2656 -4.7461 -11.328 -10.684 -11.328 c-5.957 0 -10.742 4.0625 -10.742 11.328 c0 7.3047 4.7852 11.387 10.742 11.387 z"></path>
                    </g>
                    <g id="SvgjsG1895" featurekey="sloganFeature-0" transform="matrix(1.080852593070692,0,0,1.080852593070692,119.07122373455714,212.64576275057985)" fill="#cefbf4">
                        <path d="M6.4648 20.18555 c-2.9492 0 -5.1563 -1.4063 -5.6055 -3.8672 l2.4023 -0.55664 c0.25391 1.6016 1.5723 2.4805 3.291 2.4805 c1.3574 0 2.5879 -0.57617 2.5684 -2.041 c-0.019531 -1.5234 -1.709 -1.9629 -3.5352 -2.4805 c-2.1094 -0.61523 -4.2773 -1.3184 -4.2773 -3.877 c0 -2.5977 2.1289 -3.9648 4.7754 -3.9648 c2.4414 0 4.7559 1.0254 5.293 3.5254 l-2.2559 0.56641 c-0.3125 -1.4844 -1.4648 -2.1387 -2.9199 -2.1387 c-1.2988 0 -2.5293 0.55664 -2.5293 1.9727 c0 1.2891 1.4746 1.6895 3.1641 2.1582 c2.1777 0.60547 4.6973 1.3477 4.6973 4.1406 c0 2.8809 -2.4121 4.082 -5.0684 4.082 z M22.0322546875 17.9102 l4.5996 0 l0 2.0898 l-6.9336 0 l0 -13.926 l2.334 0 l0 11.836 z M40.343709375 20.18555 c-4.0039 0 -7.0313 -2.7441 -7.0313 -7.1582 c0 -4.4043 3.0273 -7.1484 7.0313 -7.1484 c3.9941 0 7.0215 2.7441 7.0215 7.1484 c0 4.4141 -3.0273 7.1582 -7.0215 7.1582 z M40.343709375 18.0176 c2.6367 0 4.6973 -1.8262 4.6973 -4.9902 c0 -3.1348 -2.0605 -4.9707 -4.6973 -4.9707 s-4.6973 1.8359 -4.6973 4.9707 c0 3.1641 2.0605 4.9902 4.6973 4.9902 z M61.5263828125 20.18555 c-3.9453 0 -6.9336 -2.7051 -6.9336 -7.1191 c0 -4.4434 3.0273 -7.1875 7.0313 -7.1875 c2.6172 0 4.8242 1.1523 6.0352 3.2617 l-2.0605 1.1035 c-0.82031 -1.5527 -2.2852 -2.2852 -3.9746 -2.2852 c-2.6465 0 -4.6777 1.8066 -4.6777 5.0586 c0 3.1836 1.9531 5.0977 4.7656 5.0977 c2.1289 0 3.8965 -1.1426 4.248 -3.5352 l-4.248 0 l0 -1.9238 l6.4844 0 l0 7.3438 l-1.8652 0 l0 -2.2656 c-0.91797 1.543 -2.5391 2.4512 -4.8047 2.4512 z M85.8439375 20 l-1.1035 -3.0957 l-6.084 0 l-1.0938 3.0957 l-2.4121 0 l5.127 -13.926 l2.8418 0 l5.127 13.926 l-2.4023 0 z M79.3691375 14.9023 l4.668 0 l-2.334 -6.582 z M105.2883046875 6.074 l2.334 0 l0 13.926 l-2.6172 0 l-6.8359 -10.625 l0 10.625 l-2.3145 0 l0 -13.926 l2.5879 0 l6.8457 10.557 l0 -10.557 z M134.8212546875 6.074 l0 2.0801 l-3.4375 0 l0 11.846 l-2.3242 0 l0 -11.846 l-3.4473 0 l0 -2.0801 l9.209 0 z M150.22263125 8.154 l-5.4102 0 l0 3.8574 l4.7852 0 l0 2.0605 l-4.7852 0 l0 3.8379 l5.4102 0 l0 2.0898 l-7.7734 0 l0 -13.926 l7.7734 0 l0 2.0801 z M157.0009746875 20 l5.4297 -7.2656 l-5.2344 -6.6602 l2.8418 0 l3.7793 4.9805 l3.7695 -4.9805 l2.8418 0 l-5.2246 6.6602 l5.4297 7.2656 l-2.9688 0 l-3.8477 -5.4102 l-3.8477 5.4102 l-2.9688 0 z M185.898403125 6.074 l0 2.0801 l-3.4375 0 l0 11.846 l-2.3242 0 l0 -11.846 l-3.4473 0 l0 -2.0801 l9.209 0 z"></path>
                    </g>*@
                </svg>
            </div>
    @RenderBody()
</body>
</html>