<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body onunload="HandleOnClose()">
    <header>
        <div id="navbar_container" class="shadow">
            <img id="navbar_logo" src="~/images/logo/Barber_logo_medium_transparent.png"/>
            <ul id="navbar_list">
                <li class="navbar_list_item">
                    <a asp-controller="Landing" asp-action="Index">Home</a>
                </li>
                <li class="navbar_list_item">
                    <a asp-controller="Landing" asp-action="Index">Login</a>
                </li>
                <li class="navbar_list_item">
                    <a asp-controller="Landing" asp-action="Index">Help</a>
                </li>
            </ul>
        </div>
    </header>
    @RenderBody()
</body>
</html>