<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/hairdressers/common.css"/>
    <link rel="stylesheet" href="~/css/hairdressers/colors.css"/>
    <link rel="stylesheet" href="~/css/hairdressers/header.css"/>
    <link rel="stylesheet" href="~/css/hairdressers/landing.css"/>
    <link rel="stylesheet" href="css/mobiscroll/mobiscroll.javascript.min.css" />
    <script src="js/mobiscroll.javascript.min.js"></script>
</head>
<body>
    <video autoplay muted loop id="bkg_video_1">
        <source src="~/movies/hairdresser_movie_6.mp4" type="video/mp4">
    </video>
    <header>
        <div id="navbar_container" class="shadow">
            <div id="ncontainer_div1">
                <img id="navbar_logo" src="~/images/logo/Barber_logo_medium_transparent.png"/>
            </div>
            <div id="ncontainer_div2">
                <ul class="navbar_list rel_center no_select">
                    <li>
                        <a asp-controller="Landing" asp-action="Index" class="navbar_list_item">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Landing" asp-action="Index" class="navbar_list_item">Other</a>
                    </li>
                    <li>
                        <a asp-controller="Landing" asp-action="Index" class="navbar_list_item">Help</a>
                    </li>
                </ul>
            </div>
            <div id="ncontainer_div3">
                <ul class="navbar_list rel_center no_select">
                    <li>
                        <button id="navbar_user" class="navbar_list_item">
                            <img src="~/images/user.png" style="height: 100%;"/>
                        </button>
                        <ul id="flotante">
                            <li>Iniciar Sesión</li>
                            <li>Registrarme</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    @RenderBody()
</body>
</html>