<li>
    <a asp-controller="Landing" asp-action="Index" class="navbar_list_item">Home</a>
</li>
<li>
    <a asp-controller="Appointments" asp-action="SelectAppointments" class="navbar_list_item">Citas</a>
</li>
<li>
    <a asp-controller="Landing" asp-action="Help" class="navbar_list_item">Help</a>
</li>