@font-face {
    font-family: Monofonto;
    src: url("../../fonts/monofonto.otf");
}

@font-face {
    font-family: Roboto;
    src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}

* {
    margin: 0;
    font-family: Roboto;
}

body {
    background: black;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    margin-top: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.rel_center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.shadow {
    -webkit-box-shadow: 0 6px 5px -2px rgb(10, 10, 10);
    -moz-box-shadow: 0 6px 5px -2px rgb(10, 10, 10);
    box-shadow: 0 5px 9px -2px rgb(10, 10, 10);
}

.text-shadow {
    text-shadow: 0 0 6px rgb(200 200 200);
}

.no_select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mauto {
    margin: auto auto 50px auto;
}

#bkg_video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
}

#background {
    background-color: var(--main-blue);
    /*background: linear-gradient(30deg, rgba(156,72,81,1) 10%, rgba(68,68,70,1) 10%, rgba(68,68,70,1) 15%, rgba(65,80,115,1) 15%);*/
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
