.no_select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (orientation: landscape) and (max-width: 1300px) and (max-height: 700px) {
    #landing_content {
        width: 90vw;
        margin-inline: auto;
        height: clamp(340px, calc(100vh - 180px), 1080px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sidetext";
        grid-gap: 0px;
        overflow: hidden;
    }

    #description_content p {
        font-size: 10pt;
    }
}

@media screen and (orientation: landscape) and (max-width: 1300px) and (min-height: 700px) {
    #landing_content {
        width: 90vw;
        margin-inline: auto;
        height: clamp(340px, calc(100vh - 180px), 1080px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sidetext";
        grid-gap: 0px;
        overflow: hidden;
    }

    #description_content p {
        font-size: 12pt;
    }
}

@media screen and (orientation: landscape) and (min-width: 1300px) and (max-height: 700px) {
    #landing_content {
        width: 90vw;
        margin-inline: auto;
        height: clamp(340px, calc(100vh - 180px), 1080px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sidetext x";
        grid-gap: 120px;
        overflow: hidden;
    }

    #description_content p {
        font-size: 10pt;
    }
}

@media screen and (orientation: landscape) and (min-width: 1300px) and (min-height: 700px) {
    #landing_content {
        width: 90vw;
        margin-inline: auto;
        height: clamp(340px, calc(100vh - 180px), 1080px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sidetext x";
        grid-gap: 120px;
        overflow: hidden;
    }

    #description_content p {
        font-size: 12pt;
    }
}

#sidetext {
    grid-area: sidetext;
    align-self: center;
}

#title_landing {
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
    font-size: clamp(6em, 18vh, 12em);
    font-family: Roboto;
}

#description_content {
    justify-self: center;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    overflow: hidden;
}

#description_content > button {
    width: 50%;
    padding: 10px 15px;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 1px 5px 0px rgba(100, 100, 100, 0.5);
    text-align: center;
    color: white;
    background-color: var(--main-blue);
    font-weight: bold;
    cursor: pointer;
    transition-duration: 200ms;
    display: block;
    margin: 15px auto 0 auto;
}

#description_content > button:hover {
    box-shadow: 0 2px 5px 1px rgba(100, 100, 100, 0.8);
    background-color: var(--main-red);
}

#landing_aside{
    background-color: var(--main-blue);
    height: 500px;
    width: 100vw;
}

#landing_aside > h1 {
    margin: 15px auto;
    padding-block: 15px;
    text-align: center;
    font-size: 40px;
    color: white;
}