* { margin: 0; }

header {
    width: 100vw;
}

#navbar_container {
    width: 80%;
    height: 60px;
    border-radius: 0 0 30px 30px;
    margin: auto;
}

#navbar_list {
    background-color: red;
    width: 90%;
    margin: auto;
}

.shadow {
    -webkit-box-shadow: 0 6px 5px -2px rgb(100, 100, 100);
    -moz-box-shadow: 0 6px 5px -2px rgb(100, 100, 100);
    box-shadow: 0 6px 5px -2px rgb(100, 100, 100);
}