@{
    ViewData["TITLE"] = "C&G: Citas";
    var json_appointments = ViewData["JSON_APPOINTMENTS"];
    bool? superUser = (bool?)TempData["SUPERUSUARIO"];
}

<div id="background"></div>
<div id='calendar' style="background-color: white;"></div>

@section calendar_script {
    <script>

        const appointments = @Html.Raw(Json.Serialize(json_appointments));

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + "-" + mm + "-" + dd;

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                buttonText: {
                    today: 'Hoy',
                    day: 'Día',
                    week: 'Semana',
                    month: 'Mes'
                },
                locale: 'es',
                firstDay: 1,
                slotDuration: '00:10:00',
                snapDuration: '00:05:00',
                initialDate: today,
                nowIndicator: 'true',
                allDaySlot: false,
                contentHeight: "auto",
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,
                businessHours: {
                    daysOfWeek: [1, 2, 3, 4, 5],
                    startTime: '08:00',
                    endTime: '21:00',
                },
                select: function (arg) {
                    console.log(arg);

                    const { value: formValues } = Swal.fire({
                      title: 'Solicitud de cita',
                      html:
                        '<input type="date" id="date_input" class="swal2-input" value="2023-03-08">' +
                        '<input type="time" id="time_input" class="swal2-input" value="00:35">',
                      focusConfirm: false,
                      preConfirm: () => {
                        return [
                            document.getElementById('date_input').value,
                            document.getElementById('time_input').value
                        ]
                      }
                    })

                    if (formValues) {
                      Swal.fire(JSON.stringify(formValues))
                      console.log(formValues);
                    }

                    calendar.unselect()
                },
                eventClick: function (arg) {
                    console.log(arg);
                    console.log(arg.event.extendedProps);
                    // if (confirm('Are you sure you want to delete this event?')) {
                    //   arg.event.remove()
                    // }
                },
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                events: @Html.Raw(Json.Serialize(json_appointments))
            });

            // calendar.setOption('slotDuration', '00:10:00');
            calendar.setOption('height', 500);
            calendar.render();

            var elements = document.querySelectorAll('.fc-header-toolbar [title]');
            for (var i = 0; i < elements.length; i++) {
                elements[i].removeAttribute('title');
            }

            // Una idea podría ser que creasen todos los registros que fuesen
            // Almacenarlos en extendedProps yyyy quizá revisar estos datos antes
            // de salir de la vista (¿?) y que se confirme todo con guardar
            // console.log(calendar.getEvents()[5].extendedProps);

        });

    </script>
}
@*

    Depende de arg.allDay true o false

    arg.startStr: "2023-03-08"
    arg.endStr: "2023-03-09"

    arg.startStr: "2023-03-14T00:35:00+01:00"
    arg.endStr: "2023-03-14T00:40:00+01:00"

    var myDate = "2023-03-08";
    var myTime = "00:35";

    if (title) {
        calendar.addEvent({
            title: title,
            start: arg.start,
            end: arg.end,
            allDay: arg.allDay
        })
    }

*@
