@{
    ViewData["Title"] = "Insertar código";
    //string userEmail = ViewData["UserEmail"];
    string userEmail = "gioseinder13@gmail.com";
}

<form method="post">
    <label>
        Ingrese el código que le ha llegado al correo electrónico <strong>@userEmail</strong>
    </label>
    <input type="text" name="codigoIngresado" />
    <button>
        Enviar correo
    </button>
</form>