@{
    ViewData["Title"] = "Cut&Go: Home";
}

<video autoplay muted loop id="bkg_video" poster="~/images/pictures/poster.jpg">
    <source src="~/movies/hairdresser_movie_6.mp4" type="video/mp4">
</video>
<div id="landing_content">
    <div id="sidetext">
        <h1 id="title_landing" class="no_select">
            <span class="text-shadow" style="color: rgb(65,80,115);">Cut</span>&<span class="text-shadow" style="color: rgb(156,72,81);">Go</span>
        </h1>
        <div id="description_content" class="no_select">
            <p>
                ¿Te gustaría poder reservar cita en tu peluquería favorita de forma rápida y sencilla? 
                ¿o gestionar la agenda de tu local con tan solo un par de clics? 
            </p>
            <p style="text-align: center; line-height: 3em;"><strong>Cut&Go te lo pone fácil.</strong></p>
            <p>
                Con nuestra plataforma, tus clientes podrán reservar citas en tu peluquería
                en cuestión de segundos. Podrás gestionar tu agenda de una forma eficiente y visual.
            </p> <br/>
            <p>
                Cut&Go es la <strong>solución perfecta</strong> para cualquier empresa o local del sector 
                de la estética que quiera mejorar su servicio al cliente y a la vez aumentar su visibilidad 
                en internet.<br/>Únete hoy a la red de peluquerías asociadas a Cut&Go y dale un impulso a tu negocio.
            </p>
            <a asp-controller="Managed" asp-action="Registrer">
                Unirme
            </a>
        </div>
    </div>
</div>
<div id="landing_aside" class="no_select">
    <h1>¿Tienes un negocio? ¡Mejora tu gestión con Cut&Go!</h1>
    <p>Ya son muchos los negocios que confían en nuestra plataforma para gestionar su flujo de trabajo.
       Además, podrás unirte a nuestras redes sociales y compartir tu contenido y tu trabajo con toda la comunidad</p>
    <img src="~/images/pictures/hairdresser_pics_6.jpg"/>
</div>