@{
    ViewData["Title"] = "Cut&Go: Política de privacidad";
}

<div id="background"></div>
<div class="container_box legal_container no_select">
    <h3>Política de Privacidad de Cut&Go</h3>
    <p>En Cut&Go, valoramos tu privacidad y nos comprometemos a proteger tus datos personales. Esta política de privacidad describe cómo recopilamos, utilizamos, almacenamos y protegemos la información que nos proporcionas al utilizar nuestra aplicación móvil o nuestro sitio web.</p><br/>
    
    <h4>Recopilación de información</h4> <br/>
    <p>Recopilamos información personal como tu nombre, dirección de correo electrónico, número de teléfono, dirección de la peluquería y otros datos relevantes para el uso de nuestros servicios. También podemos recopilar información sobre tus citas y transacciones realizadas a través de nuestra aplicación.</p><br/>
    
    <h4>Uso de la información</h4> <br/>
    <p>La información que recopilamos se utiliza para mejorar nuestros servicios y brindarte una experiencia de usuario más personalizada. También podemos utilizar tu información para enviarte correos electrónicos o notificaciones sobre promociones, actualizaciones y noticias relacionadas con Cut&Go.</p><br/>
    
    <h4>Compartir información</h4> <br/>
    <p>No vendemos ni compartimos tu información personal con terceros sin tu consentimiento. Podemos compartir tu información con proveedores de servicios de confianza que nos ayudan a ofrecer nuestros servicios. También podemos compartir tu información en caso de que sea requerido por la ley o por una orden judicial.</p><br/>
    
    <h4>Seguridad de la información</h4> <br/>
    <p>Tomamos medidas de seguridad técnicas y organizativas adecuadas para proteger tu información personal contra el acceso no autorizado, la divulgación, el uso indebido y la alteración. Sin embargo, ten en cuenta que ninguna transmisión de datos por Internet puede garantizar una seguridad absoluta.</p><br/>
    
    <h4>Cambios en la política de privacidad</h4> <br/>
    <p>Podemos actualizar esta política de privacidad de vez en cuando. Te recomendamos que revises periódicamente esta página para estar al tanto de los cambios. Si realizamos cambios significativos en nuestra política de privacidad, te lo notificaremos a través de nuestra aplicación o sitio web.</p><br/>
    
    <h4>Contacto</h4> <br/>
    <p>Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, contáctanos a través de nuestro correo electrónico: cutandgo.app@gmail.com.</p>
</div>