@{
    ViewData["Title"] = "Cut&Go: Política de privacidad";
}

<div id="background"></div>
<div class="container_box legal_container no_select">
    <h3>Términos de Uso de Cut&Go</h3>
    <p>Bienvenido a Cut&Go, la aplicación móvil y sitio web que permite a los usuarios reservar citas en peluquerías. Al utilizar nuestros servicios, aceptas los siguientes términos y condiciones:</p><br />
    
    <h4>Uso de la aplicación</h4> <br />
    <p>Cut&Go proporciona una plataforma para que los usuarios reserven citas en peluquerías registradas en nuestra aplicación. No somos responsables de los servicios prestados por las peluquerías, ya que son empresas independientes. Tampoco nos hacemos responsables por cualquier pérdida o daño que puedas sufrir al utilizar nuestra aplicación o al reservar una cita en una peluquería.</p><br />
    
    <h4>Registro</h4> <br />
    <p>Para utilizar nuestros servicios, debes registrarte en nuestra aplicación proporcionando información precisa y completa. Al registrarte, aceptas recibir correos electrónicos y notificaciones de Cut&Go sobre tus citas, promociones y actualizaciones.</p><br />
    
    <h4>Reserva de citas</h4> <br />
    <p>La reserva de citas se realiza directamente con las peluquerías registradas en nuestra aplicación. Cut&Go no garantiza la disponibilidad de citas y no se hace responsable de cualquier cambio en la disponibilidad de citas realizadas a través de nuestra aplicación. Las cancelaciones y cambios de citas están sujetos a las políticas de cancelación de la peluquería correspondiente.</p><br />
    
    <h4>Propiedad intelectual</h4> <br />
    <p>Todos los derechos de propiedad intelectual relacionados con nuestra aplicación y sitio web son propiedad exclusiva de Cut&Go. No se te otorga ninguna licencia o derecho para utilizar ninguna marca registrada, logotipo o contenido de nuestra aplicación o sitio web.</p><br />
    
    <h4>Modificaciones</h4> <br />
    <p>Nos reservamos el derecho de modificar o actualizar estos términos de uso en cualquier momento. Si realizamos cambios significativos, te notificaremos a través de nuestra aplicación o sitio web. Al seguir utilizando nuestros servicios después de cualquier modificación, aceptas los términos actualizados.</p><br />
    
    <h4>Terminación</h4> <br />
    <p>Nos reservamos el derecho de cancelar tu cuenta y tu acceso a nuestra aplicación y sitio web en cualquier momento y por cualquier motivo sin previo aviso.</p><br />
    
    <h4>Contacto</h4> <br />
    <p>Si tienes alguna pregunta o inquietud sobre nuestros términos de uso, contáctanos a través de nuestro correo electrónico: cutandgo.app@gmail.com.</p>
</div>